body{
    background-color: #C8D8E7;
}
#page{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 900px;
    flex-direction: column;
}
#main-box{
    height: auto;
    width: 700px;
    background-color: white;
}
#quote{
    text-align: center;
    font-weight: 500;
    font-size: 1.75em;
}

#additional_box{
    display: block;
    color:white;
}