body{
    background-color: #C8D8E7;
}
#page{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 900px;
    flex-direction: column;
}
#main-box{
    height: auto;
    width: 700px;
    background-color: white;
    padding: 20px 20px;
    border-radius: 30px;
}
button{
    border-radius: 5px;
}
#quote{
    text-align: center;
    font-weight: 500;
    font-size: 1.75em;
}

#additional_box{
    display: block;
    color:white;
}
#authour{
    padding-top: 20px;
    text-align: end;
}
#block2{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.btn-social{
    display: inline-flex;
}
.twitter, .tumbler{
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: contain;
    background-repeat: none;
}
.twitter{
    background-image: url('twitter.png');
}
.tumbler{
    background-image: url('tumbler.jpeg');
}

